{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'admin.css' %}">

    <body>
    <select id="customerlist" onchange="showCustomer(this.value)">
        <option selected disabled="true" class="dropdownlist">Click here to choose a customer</option>
        {% for c in customers %}
            {% if c.is_admin %}
                {{ c.hide }}
            {% else %}
                <option value="{{ c.email }}">{{ c.email }}</option>
            {% endif %}
        {% endfor %}
    </select>

    </br>
    <div id="txtHint">Customer info will be listed here...</div>

    </body>
    </html>

{% endblock %}

{% block scripts %}

    <script>
        function showCustomer(str) {

            const xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {

                if (this.readyState === 4 && this.status === 200) {
                    const response = JSON.parse(this.responseText);
                    document.getElementById('txtHint').innerHTML =
                        '<table>' +
                        '<tr>' +
                        '<th>' + '<p>Name : </p>' + response.client.name + '</th>' +
                        '<tr>' +
                        '<th>' + '<p>Last Name : </p>' + response.client.lastname + '</th>' +
                        '<tr>' +
                        '<th>' + '<p>Email : </p>' + response.client.email + '</th>' +
                        '<tr>' +
                        '<th>' + '<p>Birthdate : </p>' + response.client.birthdate + '</th>' +
                        '<tr>' +
                        '<th>' + '<p>Active : </p>' + response.client.active + '</th>' +
                        '</tr>' +
                        '</table>';
                }
            };

            xhttp.open('GET', /adminpage/ + str, true);
            xhttp.send();
        }

    </script>
{% endblock %}
