<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Admin page</title>
    <h2>Check customers information :</h2>
<body>
    <select id="customerlist" onchange="showCustomer(this.value)">
        <option selected disabled="true" class="dropdownlist">Click here to choose a customer</option>
        {% for c in customers %}
            {% if c.is_admin %}
                {{ c.hide }}
            {% else %}
                <option value="{{ c.email }}">{{ c.email }}</option>
            {% endif %}
        {% endfor %}
    </select>

    </br>
    <div id="txtHint">Customer info will be listed here...</div>

</body>
</html>

<script>
    function showCustomer(str) {

        const xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            //this correspond à la requête http
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("txtHint").innerHTML = this.response;
            }
        };
        xhttp.open('GET', /adminpage/ + str, false);
        xhttp.send();
    }
</script>