{% extends 'base.html' %}
{% load static %}
{% block nom %} Change password | {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="headerlogin">Change pasword</div>
        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                {{ form.old_password }}
                <label>ENTER YOUR OLD PASSWORD</label>
            </div>

            <div class="input-field">
                {{ form.new_password1 }}
                <label>ENTER YOUR NEW PASSWORD</label>
            </div>

            <div class="input-field">
                {{ form.new_password2 }}
                <label>CONFIRM YOUR NEW PASSWORD</label>
            </div>

            <div class="button">
                <button type="submit">Change password</button>
            </div>
        </form>
        <div class="buttonpswrd">
            <button id="show">PASSWORD GENERATOR</button>
        </div>
        <div class="input-field" id="inputcontainer" >
            <div id="generator"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        //Génération de mot de passe de manière aléatoire

        function getPassword() {
            var chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@#!?-_$€/%&{(})";
            var longueurMdp = 16;
            var mdp = "";

            for (var i = 0; i < longueurMdp; i++) {
                //Math.floor renvoi un entier par rapport à Math.random qui lui nous retourne un nombre à virgule
                var nombre = Math.floor(Math.random() * chars.length);
                mdp += chars.substring(nombre, nombre + 1);
            }
            document.getElementById("password").value = mdp
        }

        function showGenerator() {
                //Stockage des éléments HTML dans des variables
                const inputgenerator = document.createElement('input');

                //Affectation des attributs aux éléments HTML
                inputgenerator.setAttribute('placeholder','Your generated password will show up here');
                inputgenerator.setAttribute('id','password');
                inputgenerator.setAttribute('readonly','');

                document.getElementById("generator").appendChild(inputgenerator);

                //Afficher qu'une seule fois l'input après click
                document.getElementById("show").removeEventListener("click", showGenerator)
            }

            //Events après click
            document.getElementById("show").addEventListener("click", showGenerator);
            document.getElementById("show").addEventListener("click", getPassword);

    </script>
{% endblock %}